---
// src/components/Header.astro
const currentPath = Astro.url.pathname;
---

<header class="w-full">
  <div class="flex justify-evenly items-center p-4 bg-white border-b-2 border-[#EEEEEE]">
    <h1 class="">
      <a href="/" class="text-3xl font-[raleway] font-bold text-[#2196f3]">
        WebStudio
      </a>
    </h1>
    <nav class="display flex gap-8 justify-between">
      <ul class="flex justify-center items-center justify-left gap-8">
        <li>
          <a href="/" class={`enlace-menu relative group text-xl font-[roboto] font-medium transition-colors duration-300 ${currentPath === '/' ? 'text-[#2196f3]' : 'text-[#212121] hover:text-[#2196f3]'}`}>
            <span>
              Estudio
            </span>
            <span class={`absolute left-0 bottom-0 w-full h-[4px] transition-transform duration-300 ease-out ${currentPath === '/' ? 'scale-x-100' : 'scale-x-0 group-hover:scale-x-100'}`}></span>
          </a>
        </li>
        <li>
          <a href="/portafolio" class={`relative group text-xl font-[roboto] font-medium transition-colors duration-300 ${currentPath === '/portafolio' ? 'text-[#2196f3]' : 'text-[#212121] hover:text-[#2196f3]'}`}>
            <span>
              Portafolio
            </span>
            <span class={`absolute left-0 bottom-0 w-full h-[4px] transition-transform duration-300 ease-out ${currentPath === '/portafolio' ? 'scale-x-100' : 'scale-x-0 group-hover:scale-x-100'}`}></span>
          </a>
        </li>
        <li>
          <a href="/contactos" class={`relative group text-xl font-[roboto] font-medium transition-colors duration-300 ${currentPath === './contactos' ? 'text-[#2196f3]' : 'text-[#212121] hover:text-[#2196f3]'}`}>
            <span>
              Contactos
            </span>
            <span class={`absolute left-0 bottom-0 w-full h-[4px] transition-transform duration-300 ease-out ${currentPath === './contactos' ? 'scale-x-100' : 'scale-x-0 group-hover:scale-x-100'}`}></span>
          </a>
        </li>
      </ul>
    </nav>
      <ul class="flex justify-center items-center justify-right gap-8">
        <li>
          <a href="mailto:info@mail.com" class="text-xl font-[roboto] font-medium text-[#757575] hover:text-[#2196f3] transition-colors duration-300">
              info@mail.com
          </a>
        </li>
        <li>
          <a href="tel:+1234567890" class="text-xl font-[roboto] font-medium text-[#757575] hover:text-[#2196f3] transition-colors duration-300">
            +1 234 567 890
          </a>
        </li>
      </ul>
  </div>
</header>