---
// src/components/Header.astro
---

<header class="w-full">
  <div class="flex justify-evenly items-center p-4 bg-white border-b-2 border-[#EEEEEE]">
    <h1 class="">
      <a href="/" class="text-3xl font-[raleway] font-bold text-[#2196f3]">
        WebStudio
      </a>
    </h1>
    <nav class="display flex gap-8 justify-between">
      <ul class="flex justify-center items-center justify-left gap-8">
        <li>
          <a href="/" class="relative group text-xl font-[roboto] font-medium text-[#212121] hover:text-[#2196f3] transition-colors duration-300">
            <span>
              Estudio
            </span>
            <span class="absolute left-0 bottom-0 w-full h-[4px] bg-[#2196f3] origin-left scale-x-0 transition-transform duration-300 ease-out group-hover:scale-x-100"></span>
          </a>
        </li>
        <li>
          <a href="/portafolio" class="relative group text-xl font-[roboto] font-medium text-[#212121] hover:text-[#2196f3] transition-colors duration-300">
            <span>
              Portafolio
            </span>
            <span class="absolute left-0 bottom-0 w-full h-[4px] bg-[#2196f3] origin-left scale-x-0 transition-transform duration-300 ease-out group-hover:scale-x-100"></span>
          </a>
        </li>
        <li>
          <a href="/contactos" class="relative group text-xl font-[roboto] font-medium text-[#212121] hover:text-[#2196f3] transition-colors duration-300">
            <span>
              Contactos
            </span>
            <span class="absolute left-0 bottom-0 w-full h-[4px] bg-[#2196f3] origin-left scale-x-0 transition-transform duration-300 ease-out group-hover:scale-x-100"></span>
          </a>
        </li>
      </ul>
    </nav>
      <ul class="flex justify-center items-center justify-right gap-8">
        <li>
          <a href="mailto:info@mail.com" class="text-xl font-[roboto] font-medium text-[#757575] hover:text-[#2196f3] transition-colors duration-300">
              info@mail.com
          </a>
        </li>
        <li>
          <a href="tel:+1234567890" class="text-xl font-[roboto] font-medium text-[#757575] hover:text-[#2196f3] transition-colors duration-300">
            +1 234 567 890
          </a>
        </li>
      </ul>
  </div>
</header>