---
// src/components/Header.astro
---

<header class="">
  <div class="display flex justify-evenly items-center p-4 bg-white">
    <h1 class="">
      <a href="/" class="text-3xl font-[raleway] font-bold text-[#2196f3]">
        WebStudio
      </a>
    </h1>
    <nav class="display flex">
      <ul class="display flex justify-center items-center gap-8">
        <li>
          <a href="/index" class="text-xl font-[roboto] font-medium text-[#212121] hover:text-[#2196f3] transition-colors duration-300">
            Estudio
          </a>
        </li>
        <li>
          <a href="/portafolio" class="text-xl font-[roboto] font-medium text-[#212121] hover:text-[#2196f3] transition-colors duration-300">
            Portafolio
          </a>
        </li>
        <li>
          <a href="/contactos" class="text-xl font-[roboto] font-medium text-[#212121] hover:text-[#2196f3] transition-colors duration-300">
            Contactos
          </a>
        </li>
      </ul>
      <ul class="display flex justify-center items-center gap-8 ml-100">
        <li>
          <a href="mailto:info@mail.com" class="text-xl font-[roboto] font-medium text-[#757575] hover:text-[#2196f3] transition-colors duration-300">
            info@mail.com
          </a>
        </li>
        <li>
          <a href="tel:+1234567890" class="text-xl font-[roboto] font-medium text-[#757575] hover:text-[#2196f3] transition-colors duration-300">
            +123 456 7890
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>