---
import heroImage from '../assets/hero.png';
---

<section class="bg-[#2f303a] w-full h-3/4 bg-no-repeat bg-cover bg-center flex flex-col items-center justify-center   text-white"
style={{ backgroundImage: `url(${heroImage.src})` }}>
  <div class="mb-30 text-center">
    <h1 class="text-6xl font-extrabold uppercase font-[roboto] text-shadow">soluciones eficases para <br> su negocio</h1>
  </div>
  <div>
    <a href="/" class="px-20 py-7 bg-[#2196f3] text-xl font-medium rounded-xl shadow-lg transition-all duration-200 ease-in-out hover:-translate-y-1 hover:bg-[#1169b1] hover:shadow-xl active:translate-y-0 active:shadow-md">
      Solicite nuestro servicio
    </a>
  </div>
</section>