---
// src/components/Section3.astro

// Import images and icons
import Andres from '../assets/andres.jpg';
import Carla from '../assets/carla.jpg';
import Mario from '../assets/mario.jpg';
import Pablo from '../assets/pablo.jpg';

import instagramIcon from '../assets/instagram.svg';
import facebookIcon from '../assets/facebook.svg';
import twitterIcon from '../assets/twitter.svg';
import linkedinIcon from '../assets/linkedin.svg';
---

<section class="w-full h-max flex flex-col items-center justify-center mt-30 bg-[#F5F4FA]">
  <div class="flex flex-col items-center justify-center mb-10">
    <h2 class="display flex justify-center text-[36px] font-bold font-[roboto] text-[#212121] text-center mt-15 mb-10">
      Nuestro equipo de trabajo
    </h2>
    <div class="flex items-center justify-center gap-10 flex-wrap">
      <div class="w-[270px] h-[428px] shadow-xl rounded-lg bg-white mb-10">
        <div>
          <img
            src={Andres.src}
            alt="Andres"
            class="mb-4"
          />
        </div>
        <div class="text-center">
          <h2 class="text-[16px] font-bold font-[roboto] text-[#212121] mt-5 mb-2">
            Andres Cubo
          </h2>
          <p class="text-[14px] font-[roboto] text-[#757575]">
            Diseñador de Productos
          </p>
        </div>
        <div class="flex items-center justify-center mt-4 mb-2 text-[#AFB1B8] gap-3">
          <a
            class="flex items-center justify-center mt-4 mb-2 p-2 rounded-full hover:bg-[#2196F3] hover:text-white hover:scale-110 transition-colors duration-300"
            href="https://www.instagram.com/"
            target="_blank">
            <svg  xmlns="http://www.w3.org/2000/svg"  width="38"  height="38"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-instagram"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 8a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" /><path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" /><path d="M16.5 7.5v.01" /></svg>
          </a>
          <a
            class="flex items-center justify-center mt-4 mb-2 p-2 rounded-full hover:bg-[#2196F3] hover:text-white hover:scale-110 transition-colors duration-300"
            href="https://www.x.com/"
            target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-brand-x">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <path d="M4 4l11.733 16h4.267l-11.733 -16z" />
              <path d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772" />
            </svg>
          </a>
          <a
            class="flex items-center justify-center mt-4 mb-2 p-2 rounded-full hover:bg-[#2196F3] hover:text-white hover:scale-110 transition-colors duration-300"
            href="https://www.facebook.com/"
            target="_blank">
            <svg  xmlns="http://www.w3.org/2000/svg"  width="38"  height="38"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1.5"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-facebook"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" /></svg>
          </a>
          <a
            class="flex items-center justify-center mt-4 mb-2 p-2 rounded-full hover:bg-[#2196F3] hover:text-white hover:scale-110 transition-colors duration-300"
            href="https://www.linkedin.com/"
            target="_blank">
            <svg  xmlns="http://www.w3.org/2000/svg"  width="38"  height="38"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1.75"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-linkedin"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 11v5" /><path d="M8 8v.01" /><path d="M12 16v-5" /><path d="M16 16v-3a2 2 0 1 0 -4 0" /><path d="M3 7a4 4 0 0 1 4 -4h10a4 4 0 0 1 4 4v10a4 4 0 0 1 -4 4h-10a4 4 0 0 1 -4 -4z" /></svg>
          </a>
        </div>
      </div>
      <div class="w-[270px] h-[428px] shadow-xl rounded-lg bg-white mb-10">
        <div>
          <img
            src={Carla.src}
            alt="Andres"
            class="mb-4"
          />
        </div>
        <div class="text-center">
          <h2 class="text-[16px] font-bold font-[roboto] text-[#212121] mt-5 mb-2">
            Carla Palacios
          </h2>
          <p class="text-[14px] font-[roboto] text-[#757575]">
            Desarrolladora Frontend
          </p>
        </div>
        <div class="flex items-center justify-center mt-4 mb-2 text-[#AFB1B8] gap-3">
          <a
            class="flex items-center justify-center mt-4 mb-2 p-2 rounded-full hover:bg-[#2196F3] hover:text-white hover:scale-110 transition-colors duration-300"
            href="https://www.instagram.com/"
            target="_blank">
            <svg  xmlns="http://www.w3.org/2000/svg"  width="38"  height="38"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-instagram"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 8a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" /><path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" /><path d="M16.5 7.5v.01" /></svg>
          </a>
          <a
            class="flex items-center justify-center mt-4 mb-2 p-2 rounded-full hover:bg-[#2196F3] hover:text-white hover:scale-110 transition-colors duration-300"
            href="https://www.x.com/"
            target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-brand-x">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <path d="M4 4l11.733 16h4.267l-11.733 -16z" />
              <path d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772" />
            </svg>
          </a>
          <a
            class="flex items-center justify-center mt-4 mb-2 p-2 rounded-full hover:bg-[#2196F3] hover:text-white hover:scale-110 transition-colors duration-300"
            href="https://www.facebook.com/"
            target="_blank">
            <svg  xmlns="http://www.w3.org/2000/svg"  width="38"  height="38"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1.5"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-facebook"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" /></svg>
          </a>
          <a
            class="flex items-center justify-center mt-4 mb-2 p-2 rounded-full hover:bg-[#2196F3] hover:text-white hover:scale-110 transition-colors duration-300"
            href="https://www.linkedin.com/"
            target="_blank">
            <svg  xmlns="http://www.w3.org/2000/svg"  width="38"  height="38"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1.75"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-linkedin"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 11v5" /><path d="M8 8v.01" /><path d="M12 16v-5" /><path d="M16 16v-3a2 2 0 1 0 -4 0" /><path d="M3 7a4 4 0 0 1 4 -4h10a4 4 0 0 1 4 4v10a4 4 0 0 1 -4 4h-10a4 4 0 0 1 -4 -4z" /></svg>
          </a>
        </div>
      </div>
      <div class="w-[270px] h-[428px] shadow-xl rounded-lg bg-white mb-10">
        <div>
          <img
            src={Mario.src}
            alt="Andres"
            class="mb-4"
          />
        </div>
        <div class="text-center">
          <h2 class="text-[16px] font-bold font-[roboto] text-[#212121] mt-5 mb-2">
            Mario Dorado
          </h2>
          <p class="text-[14px] font-[roboto] text-[#757575]">
            Marketing
          </p>
        </div>
        <div class="flex items-center justify-center mt-4 mb-2 text-[#AFB1B8] gap-3">
          <a
            class="flex items-center justify-center mt-4 mb-2 p-2 rounded-full hover:bg-[#2196F3] hover:text-white hover:scale-110 transition-colors duration-300"
            href="https://www.instagram.com/"
            target="_blank">
            <svg  xmlns="http://www.w3.org/2000/svg"  width="38"  height="38"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-instagram"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 8a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" /><path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" /><path d="M16.5 7.5v.01" /></svg>
          </a>
          <a
            class="flex items-center justify-center mt-4 mb-2 p-2 rounded-full hover:bg-[#2196F3] hover:text-white hover:scale-110 transition-colors duration-300"
            href="https://www.x.com/"
            target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-brand-x">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <path d="M4 4l11.733 16h4.267l-11.733 -16z" />
              <path d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772" />
            </svg>
          </a>
          <a
            class="flex items-center justify-center mt-4 mb-2 p-2 rounded-full hover:bg-[#2196F3] hover:text-white hover:scale-110 transition-colors duration-300"
            href="https://www.facebook.com/"
            target="_blank">
            <svg  xmlns="http://www.w3.org/2000/svg"  width="38"  height="38"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1.5"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-facebook"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" /></svg>
          </a>
          <a
            class="flex items-center justify-center mt-4 mb-2 p-2 rounded-full hover:bg-[#2196F3] hover:text-white hover:scale-110 transition-colors duration-300"
            href="https://www.linkedin.com/"
            target="_blank">
            <svg  xmlns="http://www.w3.org/2000/svg"  width="38"  height="38"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1.75"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-linkedin"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 11v5" /><path d="M8 8v.01" /><path d="M12 16v-5" /><path d="M16 16v-3a2 2 0 1 0 -4 0" /><path d="M3 7a4 4 0 0 1 4 -4h10a4 4 0 0 1 4 4v10a4 4 0 0 1 -4 4h-10a4 4 0 0 1 -4 -4z" /></svg>
          </a>
        </div>
      </div>
      <div class="w-[270px] h-[428px] shadow-xl rounded-lg bg-white mb-10">
        <div>
          <img
            src={Pablo.src}
            alt="Andres"
            class="mb-4"
          />
        </div>
        <div class="text-center">
          <h2 class="text-[16px] font-bold font-[roboto] text-[#212121] mt-5 mb-2">
            Pablo Mijangos
          </h2>
          <p class="text-[14px] font-[roboto] text-[#757575]">
            Dise
          </p>
        </div>
        <div class="flex items-center justify-center mt-4 mb-2 text-[#AFB1B8] gap-3">
          <a
            class="flex items-center justify-center mt-4 mb-2 p-2 rounded-full hover:bg-[#2196F3] hover:text-white hover:scale-110 transition-colors duration-300"
            href="https://www.instagram.com/"
            target="_blank">
            <svg  xmlns="http://www.w3.org/2000/svg"  width="38"  height="38"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-instagram"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 8a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" /><path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" /><path d="M16.5 7.5v.01" /></svg>
          </a>
          <a
            class="flex items-center justify-center mt-4 mb-2 p-2 rounded-full hover:bg-[#2196F3] hover:text-white hover:scale-110 transition-colors duration-300"
            href="https://www.x.com/"
            target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-brand-x">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <path d="M4 4l11.733 16h4.267l-11.733 -16z" />
              <path d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772" />
            </svg>
          </a>
          <a
            class="flex items-center justify-center mt-4 mb-2 p-2 rounded-full hover:bg-[#2196F3] hover:text-white hover:scale-110 transition-colors duration-300"
            href="https://www.facebook.com/"
            target="_blank">
            <svg  xmlns="http://www.w3.org/2000/svg"  width="38"  height="38"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1.5"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-facebook"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" /></svg>
          </a>
          <a
            class="flex items-center justify-center mt-4 mb-2 p-2 rounded-full hover:bg-[#2196F3] hover:text-white hover:scale-110 transition-colors duration-300"
            href="https://www.linkedin.com/"
            target="_blank">
            <svg  xmlns="http://www.w3.org/2000/svg"  width="38"  height="38"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1.75"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-linkedin"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 11v5" /><path d="M8 8v.01" /><path d="M12 16v-5" /><path d="M16 16v-3a2 2 0 1 0 -4 0" /><path d="M3 7a4 4 0 0 1 4 -4h10a4 4 0 0 1 4 4v10a4 4 0 0 1 -4 4h-10a4 4 0 0 1 -4 -4z" /></svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>